@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary {
  @apply px-4 py-2 bg-slate-800 text-white rounded-full text-sm
         hover:bg-slate-700 transition;
}

.section-title {
  @apply text-2xl font-bold text-slate-800 mb-3;
}

.section-text {
  @apply text-slate-600 leading-relaxed;
}


.page-title {
  @apply text-3xl font-bold text-slate-800 mb-6;
}
